.intro {
  /* The image used */
  background-image: url("../photo.png");

  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#btn {
  margin-top: 50vh;
  margin-left: 45vw;
  color: rgb(255, 210, 113) !important;
}
