ul {
  margin-left: 8vw;
  list-style-type: none;
  position: absolute;
  display: flex;
  text-align: center;
  margin-top: 0%;
}
button:hover {
  background-color: rgb(136, 255, 253) !important;
}
li {
  margin-left: 10vw;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
button {
  color: rgb(255, 210, 113) !important;
  font-family: "Lucida Console", monospace !important;
}
